In [21]:
import pandas as pd
import netCDF4

from dateutil import parser
import os

In [31]:
file_path = '../../01_data/01_biological_data'
file_name = 'metadata.tsv'

file = os.path.join(file_path,file_name)


md = pd.read_csv(file, sep='\t', index_col=0)
md_srf = md[md.Layer == 'SRF']
md_srf

,PANGAEA sample id,Station.label,Layer,Layer2,polar,lower.size.fraction,upper.size.fraction,Event.date,Latitude,Longitude,...,Gradient.Surface.temp(SST),Fluorescence,Density,Depth.Min.O2,Depth.Max.O2,Mean Flux at 150m,FluxAttenuation,NPP 8d VGPM (mgC/m2/day),Ocean,Province
TSC_NAME,,,,,,,,,,,,,,,,,,,,,
TSC001,TARA_Y200000002,TARA_004,SRF,EPI,non polar,0.22,1.6,2009-09-15 11:30,36.5533,-6.5669,...,0.73994,NaN,25.909909,NaN,NaN,NaN,NaN,686.0860,[NAO] North Atlantic Ocean (MRGID:1912),B7
TSC003,TARA_A200000113,TARA_007,SRF,EPI,non polar,0.22,1.6,2009-09-23 12:50,37.0510,1.9378,...,1.03750,NaN,25.611150,NaN,NaN,NaN,NaN,354.2245,[MS] Mediterranean Sea (MRGID:1905),B7
TSC005,TARA_X000000950,TARA_009,SRF,EPI,non polar,0.22,1.6,2009-09-28 12:18,39.1633,5.9160,...,0.95289,NaN,25.621000,NaN,NaN,NaN,NaN,205.1220,[MS] Mediterranean Sea (MRGID:1905),B7
TSC008,TARA_A100000164,TARA_018,SRF,EPI,non polar,0.22,1.6,2009-11-02 8:13,35.7590,14.2574,...,1.05130,1.091875,26.565263,221.0,60.0,NaN,NaN,331.7890,[MS] Mediterranean Sea (MRGID:1905),B7
TSC013,TARA_E500000075,TARA_023,SRF,EPI,non polar,0.22,1.6,2009-11-18 8:41,42.2038,17.7150,...,1.61570,1.465000,27.942900,115.0,37.0,2.376476,NaN,478.1350,[MS] Mediterranean Sea (MRGID:1905),B7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TSC276,TARA_B110000902,TARA_201,SRF,EPI,polar,0.22,3.0,2013-09-30 15:02:00,74.2987,-85.7806,...,NaN,3.006690,24.678167,506.0,13.0,NaN,NaN,NaN,[AO] Arctic Ocean (MRGID:1906),B8
TSC280,TARA_B110000971,TARA_194,SRF,EPI,polar,0.22,3.0,2013-09-11 20:00:00,73.3833,-168.1333,...,2.23790,2.417638,22.016175,74.0,26.0,NaN,NaN,NaN,[AO] Arctic Ocean (MRGID:1906),B8
TSC281,TARA_B110000977,TARA_193,SRF,EPI,polar,0.22,3.0,2013-09-08 2:45:00,71.0704,174.9916,...,2.00720,2.524221,23.161400,35.0,27.0,NaN,NaN,NaN,[AO] Arctic Ocean (MRGID:1906),B8
TSC282,TARA_B110001450,TARA_158,SRF,EPI,polar,0.22,3.0,2013-06-03 7:31:00,67.1410,0.2355,...,0.26870,1.888199,27.314165,451.0,13.0,NaN,NaN,NaN,[AO] Arctic Ocean (MRGID:1906),B8
TSC285,TARA_B110001469,TARA_163,SRF,EPI,polar,0.22,3.0,2013-06-09 7:39:00,76.1825,1.3918,...,0.38918,2.258868,27.890469,91.0,14.0,NaN,NaN,NaN,[AO] Arctic Ocean (MRGID:1906),B8

In [34]:
md_srf_copy = md_srf.copy()
md_srf_copy['Event.date.YYYY-MM-DD'] = md_srf_copy['Event.date'].str.slice(0, 10)

md_srf_copy['Event.date_YYYYMM'] = md_srf_copy['Event.date.YYYY-MM-DD'].str.replace('-', '').str.slice(0, 6)
print(md_srf_copy[['Event.date', 'Event.date.YYYY-MM-DD', 'Event.date_YYYYMM']])

unique_dates = md_srf_copy['Event.date_YYYYMM'].unique()

unique_dates_df = pd.DataFrame(unique_dates, columns=['Unique_Dates_YYYYMM'])
unique_dates_df['Unique_Dates_YYYYMMDD'] = unique_dates_df['Unique_Dates_YYYYMM'] + '01'

unique_dates_df['Unique_Dates_YYYYMM'].to_csv('unique_dates_yyyymm.tsv', sep='\t', index=False)
unique_dates_df['Unique_Dates_YYYYMMDD'].to_csv('unique_dates_yyyymmdd.tsv', sep='\t', index=False)

print("Archivo .tsv guardado exitosamente.")

                   Event.date Event.date.YYYY-MM-DD Event.date_YYYYMM
TSC_NAME
TSC001       2009-09-15 11:30            2009-09-15            200909
TSC003       2009-09-23 12:50            2009-09-23            200909
TSC005       2009-09-28 12:18            2009-09-28            200909
TSC008        2009-11-02 8:13            2009-11-02            200911
TSC013        2009-11-18 8:41            2009-11-18            200911
...                       ...                   ...               ...
TSC276    2013-09-30 15:02:00            2013-09-30            201309
TSC280    2013-09-11 20:00:00            2013-09-11            201309
TSC281     2013-09-08 2:45:00            2013-09-08            201309
TSC282     2013-06-03 7:31:00            2013-06-03            201306
TSC285     2013-06-09 7:39:00            2013-06-09            201306

[83 rows x 3 columns]
Archivo .tsv guardado exitosamente.